<style>
  #top{
    padding: 10px;
    display : grid;
    grid-template-columns: 100px 1fr;
  }
  #top #Ltop{
    color : blue;
    font-size: 1.5em;
  }
  #top #Rtop{
    color : blue;
    text-align: right;
    font-size: 1.5em;
  }
#middle{
  display: grid;
  grid-template-columns: 200px 1fr;
}
#middle li{
  color : blue;
  padding : 5px;
}
#middle ul{

  margin-top: 0px;

  font-size: 1.5em;
}

#middle_right{
  display:block;
  border: 1px solid gray;
  height: 650px;
}
#mrt{
  display:block;

}
#keyword{
  display : grid;
  grid-template-columns: 100px 1fr 100px;
  padding: 10px;


}
#keyword #search{
  border : 1px solid blue;
  text-align: center;
  padding : 3px;
}
#book{
  display : grid;
  grid-template-columns: 100px 1fr 100px;
  padding: 10px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
#book #reset{
  border : 1px solid gray;
  text-align: center;
  padding : 3px;
}
#ordercheck{
  padding: 10px;
  text-align: right;
}
#p{
  padding: 10px;
  border-top: 1px solid gray;
  height : 500px;
}
#page{
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height : 21px;
  margin: auto;
  width : 84px;
  text-align: center;
  display : grid;
  grid-template-columns: 21px 21px 21px 21px;
  border: 1px solid gray;
}
#one{
  border-right: 1px solid gray;
}
#two{
  border-right: 1px solid gray;
}
#three{
  border-right: 1px solid gray;
}
#four{
}
</style>
