<style>
#middle li{
  color : blue;
  padding : 5px;
}
#middle ul{

  margin-top: 0px;

  font-size: 1.5em;
}

#middle_right{
  display:block;
  border: 1px solid gray;
  height: 650px;
}


#ordercheck{
  padding: 10px;
  text-align: right;
}



</style>
